/plugins/index.php
/plugins/no-category-base-wpml
/plugins/mailchimp-for-wp-pro
/plugins/wpclef
/plugins/hello.php
/plugins/gtmetrix-for-wordpress
/plugins/site-pin
/plugins/advanced-custom-fields
/plugins/acf-repeater
/plugins/wordpress-importer
/plugins/mappress-google-maps-for-wordpress
/plugins/akismet
/plugins/pbd-ajax-load-posts
/upgrade
/index.php
/db1.php
/themes/index.php
/themes/storefront
/themes/Bikestock/pdf
/themes/Bikestock/ss_backup
/themes/Bikestock/fonts
/themes/Bikestock/img
/uploads
/themes/Bikestock/node_modules